<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gam xia</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N6SCKQEZFQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N6SCKQEZFQ');
</script>
<body>
<div>
    <b>thanks for your submission!</b>
</br></br>  
</div>
<div>
Event: <%= name %></br> 
Location: <%= location %> </br> 
Time: <%= start %> to <%= end %> </br> 
Tags: <%= tags %> </br></br>  
</div>
<div>
    submit <a href="/lubang"> another event </a> || see <a href="/events"> what's on </a> 
</div>
</body>
</html>